.headerContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3000;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
    background-color: #151515;
    border-bottom: 1px solid hsla(0,0%,100%,.07);
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoimg {
    width: 40px;
    height: 40px;
}

.logotext {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.menuList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 500px;
}

.menutext {
    padding: 20px 20px;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #A8A8A8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menutext[data-selected="true"] {
    color: #ffffff;
}

.profileContainer {
    align-items: center;
}

.profileimg {
    width: 20px;
    height: 20px;
    margin-left: 100px;
}