.LoginContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Login/login_background.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}

.logoimg {
    width: 40px;
    height: 40px;
}

.logotext {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.loginWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
}

.loginBox {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 500px;
    align-items: center;
    background-color: #31313C;
    border-radius: 10px;
}

.loginText {
    margin: 50px 0px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
}

.emailWrapper {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.emailBox {
    background-color: #ebebeb;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 16px;
    display: block;
    outline: none;
    width: 300px;
    height: 40px;
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 700;
}

.emailBox::placeholder {
    color: rgb(102, 102, 102);
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 13px;
}

.emailBox:focus {
    background-color: #ffffff;
    border: 2px solid #8E69F4;
}

.emailBox[data-status="true"] {
    background-color: #ffffff;
    border: 2px solid #8E69F4;
}

.passwordWrapper {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.passwordBox {
    background-color: #ebebeb;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 16px;
    height: 40px;
    display: block;
    outline: none;
    width: 300px;
    height: 40px;
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 700;
}

.passwordBox::placeholder {
    color: rgb(102, 102, 102);
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 13px;
}

.passwordBox:focus {
    background-color: #ffffff;
    border: 2px solid #8E69F4;
}

.passwordBox[data-status="true"] {
    background-color: #ffffff;
    border: 2px solid #8E69F4;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0px 2px;
    width: 300px;
    height: 40px;
    background-color: #8E69F4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    cursor: default;
}

.orBox {
    display: flex;
    width: 300px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 20px 0px;
}

.googleButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    gap: 10px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
}

.signUpBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.description {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

.signUpText {
    color: #8E69F4;
    font-size: 15px;
    font-weight: 700;
}

.errorBox {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 10px;
}

.errorIcon {
    width: 16px;
    height: 16px;
}

.errorText {
    color: #FF3030;
    font-size: 13px;
    font-weight: 500;
}