.ScheduleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #151515;
  position: relative;
  margin-top: 60px;
  color: #ffffff;
}

.ScheduleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.date {
  font-size: 48px;
  font-weight: 700;
  font-family: "AlfaSlabOne";
  margin-right: 5px;
  vertical-align: middle;
}

.arrowImg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.calendarImg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  cursor: pointer;
}

.TeamFiltersWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* overflow: hidden; */
  width: 100%;
}

.TeamFiltersScrollContainer {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-x: hidden;
  white-space: nowrap;
  cursor: grab;
  width: calc(100px * 8 + 10px * 7);
  position: relative;
  gap: 16px;
}

.calendar {
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  text-align: right;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
}

.calendar td {
  width: 200px;
  height: 150px;
  position: relative;
  text-align: right;
  vertical-align: top;
}

.calendar th {
  position: relative;
}

.calendar th::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
}

.todayIndicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8e69f4;
  margin-right: 5px;
  vertical-align: middle;
}
