.contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

.InfoBox {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.dateText {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.voteText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 6px;
    background-color: #434343;
    color: #B6B6B6;
    font-size: 13px;
    font-weight: 700;
    margin-left: 10px;
}
.voteText[ing="true"] {
    background-color: #FF3838;
    color: #FFD0D0;
}
.voteText[success="true"] {
    background-color: #8E69F4;
    color: #ffffff;
}

.predictionBox {
    display: flex;
    position: relative;
    width: 900px;
    margin-top: 16px;
}

.predictionLeft {
    width: 50%;
    flex: 1;
    height: 82px;
    border-radius: 10px 0 0 10px;
    background-color: #31313C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.predictionLeft[game-invote="true"] {
    width: 50%;
    flex: 1;
    height: 82px;
    border-radius: 10px 0 0 10px;
    background-color: #8E69F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.predictionRight {
    width: 50%;
    flex: 1;
    height: 82px;
    border-radius: 0 10px 10px 0;
    background-color: #31313C;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.predictionRight[game-invote="true"] {
    width: 50%;
    flex: 1;
    height: 82px;
    border-radius: 0 10px 10px 0;
    background-color: #8E69F4;
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.matchInfoBox {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.matchInfoBox2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 8px;
}

.logoImg1 {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-left: 20px;
    
}

.logoImg2 {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
}

.teamText1 {
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
.teamText1[status="voted"] {
    color: #ffffff; 
}
.teamText1[status="success"] {
    color: #ffffff;
}
.teamText1[status="fail"] {
    color: #A1A1A1;
}
.teamText1[win="true"] {
    color: #ffffff; 
}
.teamText1[initial="true"] {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.percent {
    color: #A1A1A1;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}
.percent[status="voted"] {
    color: #ffffff;
}
.percent[status="success"] {
    color: #ffffff;
}
.percent[win="true"] {
    color: #ffffff;
}

.teamText2 {
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 700;
    text-align: end;
}
.teamText2[status="voted"] {
    color: #ffffff;
}
.teamText2[status="success"] {
    color: #ffffff;
}
.teamText2[win="true"] {
    color: #ffffff;
}
.teamText2[initial="true"] {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: end;
}

.scoreText1 {
    color: #A1A1A1;
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    margin-left: 260px;
}
.scoreText1[status="voted"] {
    color: #ffffff;
}
.scoreText1[status="success"] {
    color: #ffffff;
}
.scoreText1[win="true"] {
    color: #ffffff;
}

.scoreText2 {
    color: #A1A1A1;
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    margin-right: 260px;
}
.scoreText2[status="voted"] {
    color: #ffffff;
}
.scoreText2[status="success"] {
    color: #ffffff;
}
.scoreText2[win="true"] {
    color: #ffffff;
}



